<h1>Add a new Director</h1>

<form action="/create_director">
  <div>
    <label for="director_name">
      Name
    </label>
    <input id="director_name" type="text" name="director_name">
  </div>

  <div>
    <label for="director_bio">
      Bio
    </label>
    <input id="director_bio" type="text" name="director_bio">
  </div>

  <div>
    <label for="director_dob">
      Dob
    </label>
    <input id="director_dob" type="text" name="director_dob">
  </div>

  <div>
    <label for="director_image">
      Image url
    </label>
    <input id="director_image" type="text" name="director_image">
  </div>

  <button>
    Create director
  </button>
</form>