<h1>Add a new Movie</h1>

<form action="/create_movie">
  
  <div>
    <label for="movie_title">
      Title
    </label>
    <input id="movie_title" type="text" name="movie_title">
  </div>

  <div>
    <label for="movie_year">
      Year
    </label>
    <input id="movie_year" type="text" name="movie_year">
  </div>

  <div>
    <label for="movie_duration">
      Duration
    </label>
    <input id="movie_duration" type="text" name="movie_duration">
  </div>

  <div>
    <label for="movie_description">
      Description
    </label>
    <textarea id="movie_description" name="movie_description"></textarea>
  </div>

  <div>
    <label for="movie_image">
      Image url
    </label>
    <input id="movie_image" type="text" name="movie_image">
  </div>

  <button>
    Create movie
  </button>
</form>