<h1>Add a new Actor</h1>

<form action="/create_actor">
  <div>
    <label for="actor_name">
      Name
    </label>
    <input id="actor_name" type="text" name="actor_name">
  </div>

  <div>
    <label for="actor_bio">
      Bio
    </label>
    <input id="actor_bio" type="text" name="actor_bio">
  </div>

  <div>
    <label for="actor_dob">
      Date of Birth
    </label>
    <input id="actor_dob" type="text" name="actor_dob">
  </div>

  <div>
    <label for="actor_image">
      Image URL
    </label>
    <input id="actor_image" type="text" name="actor_image">
  </div>

  <button>
    Create Actor
  </button>
</form>